body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f1f1;
}

header {
    background-color:#219def;
    height:80px;
    color:#ffd800;
    padding-top:10px;
    padding-left:10px;
}

.column-layout {
    max-width:1400px;
    margin: 40px auto 0 auto; 
    justify-content:center;
}

.call-out {
    padding: 20px;
    box-sizing:border-box;
    margin-bottom:20px;
    flex-basis: 40%;
    margin-right:10px;

}

.call-out:last-child{
    margin-right: 0px;
    display:inline;
}

img {
    
    width: auto;
    height: auto;    
}

.size {
    font-size:x-large;
}

@media (min-width: 900px){
    .column-layout {
        display: flex;
        justify-content: space-between;
    }
}

.call-out:nth-child(1) {
    background-color: #e21b1b;
    justify-content:center;
}
.call-out:nth-child(2){
    background-color:#efd717;

}
.call-out:nth-child(3){
    background-color:rgba(48, 216, 211, 0.87);

}